* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}


header nav ul{
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-left: 30px;
}
